# Web Framework
Flask
Flask-Bcrypt
PyJWT

# Banco de Dados
SQLAlchemy
mysql-connector-python

# APIs e Configuração
requests
python-dotenv
tuya-connector-python

# Processamento de Imagem (para a câmera)
opencv-python-headless

# Servidor de Produção (para o Render)
gunicorn
